body{
    background-color:LightBlue;   
     margin: 0;
    font-family:"Acme"; 
    text-align:center;
}

li {
    border-right:1px solid black;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color:purple;
}
    
ul {
    position: fixed;
    top: 0;
    width: 20%;
    border: 2.5px purple;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
}

li a.active {
    background-color: purple;
    color: white;
}
   