body{
    font-family:Risque;
    background-color:#4fac30;
    color:#7b5eff;
    margin:auto;
    text-align:center;
}

h1{
    color:#457bff;
}
h3{
    color:#9ce80d;
    font-weight:bold;
}

.sidebar{
    color:#457bff;
    font-weight:bold;
}

.q1, .q2, .q3, .q1-choice, .q2-choice, .q3-choice {
    display: none;
}